<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CADASTRO</title>
    <link rel="stylesheet" href="/cadastro.css">
</head>
<body>
<h1>CADASTRO DE PRODUTOS</h1>
<div class="botoes">
    <button type="submit" id="REGISTRAR">Registrar</button>
    <button id="ALTERAR">Alterar</button>
    <button id="EXCLUIR">Excluir</button>
    <div class="cadastro">
        <h2>LISTA DE CADASTRO</h2>
        <input type="text" id="nome-novo" placeholder="Digite o NOME do produto que quer cadastrar">
        <input type="text" id="categoria-nova" placeholder="Digite o CATEGORIA do produto que quer cadastrar">
        <input type="number" id="quantidade-nova" placeholder="Digite o QUANTIDADE do produto que quer cadastrar">
    </div>
    <div class="listaCadastro">
        <pre id="resposta"></pre>
    </div>
</div>

<script src="/javascript/cadastro.js"></script>
</body>
</html>
